In [2]:
import pandas as pd
df = pd.read_csv("assets/Hitters.csv")
BinaryLeague = []
for league in df["League"]:
    if(league == "A"):
        BinaryLeague.append(1)
    else:
        BinaryLeague.append(0)
df["BinaryLeague"] = BinaryLeague

In [3]:
df.head()

,Unnamed: 0,AtBat,Hits,HmRun,Runs,RBI,Walks,Years,CAtBat,CHits,...,CRBI,CWalks,League,Division,PutOuts,Assists,Errors,Salary,NewLeague,BinaryLeague
0,-Andy Allanson,293,66,1,30,29,14,1,293,66,...,29,14,A,E,446,33,20,NaN,A,1
1,-Alan Ashby,315,81,7,24,38,39,14,3449,835,...,414,375,N,W,632,43,10,475.0,N,0
2,-Alvin Davis,479,130,18,66,72,76,3,1624,457,...,266,263,A,W,880,82,14,480.0,A,1
3,-Andre Dawson,496,141,20,65,78,37,11,5628,1575,...,838,354,N,E,200,11,3,500.0,N,0
4,-Andres Galarraga,321,87,10,39,42,30,2,396,101,...,46,33,N,E,805,40,4,91.5,N,0